/*
 * Copyright (c) 2020-2021, Seqera Labs.
 * Copyright (c) 2013-2019, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 
manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
  author = 'Paolo Di Tommaso'
}


 

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  
  docker {
    process.container = '523155489867.dkr.ecr.us-west-2.amazonaws.com/rnaseq-nf:1.1.1'
    docker.enabled = true
  }

}
